
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* prova di debug */
.debug{
  width: 100%;
  height: 300px;
  background-color: yellow;
}

.debug .row {
  width: 80%;
  height: 200px;
  background-color: black;
}

.mg-center{
  margin: auto;
}

.debug .row [class*="col-"]{
  background-color: black;
}

/* inizio header */


/* header-top */

.header-top{
  /* height: 100px; */
  background-color: rgb(3, 52, 102);
}

.header-top .container .row [class*="col-"]{
  padding-left: 0;
  padding-right: 0;

}

.header-top .container .row [class*="col-"] div a,
.header-top .container .row [class*="col-"] ul li a{
  line-height: 50px;
  color: white;
}

.header-top .container .row [class*="col-"] ul li a:hover{
  color: grey;
}

.header-top .container .row [class*="col-"] ul li {
  padding-right: 15px;
}

.header-top .container .row [class*="col-"] ul {
  padding-right: 50px;
}

.header-top .container .row [class*="col-"] div a{
  padding-left: 50px;
}


.navbar {
  background-color: rgb(3, 52, 102);
  /* height: 100px; */
  margin-bottom: 0px;
  border: 0px;
}



/* mediaquery header-top */

@media screen and (max-width: 766px) {
  .header-top .container .row [class*="col-"] .nav {
    display: none;
  }

  .header-top .container .row [class*="col-"] .navbar{
    padding-bottom: 25px;
  }

  .header-top .container .row [class*="col-"] .navbar-header button {
    margin-top: 25px;
  }

}



/* header-jumbotron */


.header-jumbo{
  /* height: 400px; */
  background-color: rgb(0, 252, 139);
}

.header-jumbo .container .row [class*="col-"]{
  /* height: 400px; */
  /* background-color: red; */
  color: white;
}

 .star:after,
 .star:before{
  content: '';
  display: inline-block;
  height: 5px;
  width: 15%;
  background-color: white;
  border-radius: 5px;
}
 .star i{
  vertical-align: middle;
  font-size: 35px;
  /* color: white; */
}

.header-jumbo .container .row [class*="col-"] .star{
  padding-bottom: 15px;
}

.header-jumbo .container .row [class*="col-"]  img {
  padding-top: 120px;

}

.header-jumbo .container .row [class*="col-"]  h1 {
  /* color: white; */

}

.header-jumbo .container .row [class*="col-"]  p {
  padding-bottom: 30px;
  /* color: white; */
  font-size: 18px;
}


/* inizio main */

/* inizio portfolio */

#portfolio{
  margin-bottom: 15px;
}



#portfolio .container .row  [class*="col-"]{
  margin-top: 15px;
  margin-bottom: 15px;
}

#portfolio .container .row  [class*="col-"] img{
  width: 100%;
  z-index: 1;
  padding-left: 0;
  padding-right: 0;
}

#portfolio .star:after,
#portfolio .star:before{
  background-color: rgb(3, 59, 61);
}

#portfolio img:hover{
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}


/* inizio about */

#about {
  /* height: 400px; */
  background-color: rgb(0, 252, 139);
  color: white;
}
#about .container .row [class*="col-"]:first-child{
    padding-top: 20px;
    padding-bottom: 20px;
  }

#about .container .row [class*="col-"]:nth-child(2){
    padding-left: 80px;

}

#about .container .row [class*="col-"]:nth-child(3){
    padding-right: 80px;
}

#about .container .row [class*="col-"]:nth-child(4){
    padding-top: 30px;
    padding-bottom: 30px;
}

.btn_about {
  background-color: rgb(0, 252, 139);
  border: 2px solid white;
  color: white;
}

.btn_about:hover {
  background-color: rgb(0, 252, 139);
  border: 2px solid white;
  color: white;
}

/* mediaquery about */


@media screen and (max-width: 766px){
  #about .container .row [class*="col-"]:nth-child(2){
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 20px;


  }

  #about .container .row [class*="col-"]:nth-child(3){
      padding-right: 15px;
      padding-left: 15px;

  }
}



/* inizio contact */

/* #contact {
  height: 550px;
} */

#contact h2 {
  padding-top: 30px;
}

#contact .star:before,
#contact .star:after {
  background-color: rgb(3, 59, 61)
}

#contact .container .row .contact-title{
  margin-bottom: 20px;
}


#contact .pd-left{
  margin-left: 50px;
  border-bottom: 1px solid grey;
  margin-bottom: 5px;
}

#contact .pd-left-2{
  margin-left: 50px;
  border-bottom: 1px solid grey;
  padding-bottom: 70px;
}


#contact .contact-send{
  margin-left: 50px;
  background-color: rgb(0, 252, 139);
  border: 0px;
  margin-top: 10px;
  margin-bottom: 25px;
}




/* footer */

/* footer-top */
.footer-top{
  /* height: 200px; */
  background-color: rgb(13, 86, 172);
}

.footer-top .container .row [class*="col-"]{
  color: white;
}

.footer-top .container .row [class*="col-"] p{
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
}
.footer-top .container .row [class*="col-"] p span{
  color: rgb(13, 244, 202);
}


.footer-top .container .row [class*="col-"] i {
  font-size: 20px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 20px;
  margin: 2px;
}




/* footer-bottom */

.footer-bottom{
  background-color: rgb(3, 52, 102);
  color: white;
  height: 60px;
}

.footer-bottom span{
  line-height: 60px;
}
